/*HEADER*/
header {
            background-color: aquamarine;
}
header > nav >ul {
                    justify-content: flex-end;
}
header > nav >ul > li > a {
                            margin-right: 10px;
                            color: black;
                            font-size: large;
                            font-weight: bold;
}
header > nav >ul > li > a:hover {
                                    color: rgb(36, 13, 139);
                                    font-size: larger;
                                    font-weight: bolder;
}

/*BODY*/
body {
        background-color: wheat;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
/*CUADRO CON DIVS QUE CAMBIA*/
#cuadro {
            background-color: thistle;
            width: 95%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 20px;
            height: 250px;
}
#cuadro > ul {
                justify-content: center;
}
#cuadro > ul > li > a {
                        margin-right: 25px;
                        margin-left: 25px;
                        background-color: red;
                        color: white;
                        border-color: brown;
}
#cambiaDiv { 
    margin: 0px;
    padding: 0px;
    display: inline-flex;
   }
#cambiaDiv div {
                    display: block;
                    position: absolute;
                    padding: 15px;
                    border-radius: 10px 10px 10px 10px; 
                    width: 92%;
                    background-color: powderblue;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    margin-bottom: 5px;
   } 
#cambiaDiv div:not(:nth-child(1)) {
    display: none;
   } 
#cambiaDiv div:target {
    display: block; 
   }
   
/*TABLA*/
#tabla {
            background-color: plum;
            width: 95%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 20px;
}
#tabla > table {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border: 1px solid pink;
                    width: 450px;
}
td, th {
        width: 150px;
        border: 1px solid pink;
}
th{
    text-align: center;
}
#tabla table tr:nth-child(even){
                                background-color: rgba(238, 145, 184, 0.863);
} 
#tabla table tr:nth-child(odd){
                                background-color: rgb(197, 196, 184);
}   

/*FOOTER*/
footer {
            background-color: aqua;
}
footer > ul {
    justify-content: center;
}
footer > ul > li {
                    margin-right: 10px;
}

/*GRAL TAG*/
a {
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    border: 1px solid;
}
ul {
    list-style: none;
    display: inline-flex;
    padding: 5px;
    margin: 0px;
    width: 100%;
}