/*HEADER*/
header {
            background-color: #3d3935;
            height: 60px;
}
header > nav >ul {
                    justify-content: flex-end;
                    padding: 13px;
}
header > nav >ul > li > a {
                            margin-right: 10px;
                            color: black;
                            font-size: large;
                            font-weight: bold;
                            background-color: 	#00b6ad;
                            color: 	#f7f7f7;
                            border-color: 	#f7f7f7;
                            border-radius: 10px 10px 10px 10px;
}
header > nav >ul > li > a:hover {
                                    color: #00b6ad;
                                    background-color: 	#f7f7f7;
                                    font-size: x-large;
                                    font-weight: bolder;
}

/*BODY*/
body {
        background-color: rgb(247,247,247);
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
/*CUADRO CON DIVS QUE CAMBIA*/
#cuadro {
            background-color: 	#00b6ad;
            width: 95%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 20px;
            height: 250px;
}
#cuadro > ul {
                justify-content: center;
}
#cuadro > ul > li > a {
                        margin-right: 25px;
                        margin-left: 25px;
                        color: 		#f7f7f7;
                        background-color: #7a7a7a;
                        border-color: 	#7a7a7a;
                        border-radius: 10px 0px 0px 0px;
}
#cuadro > ul > li > a:hover {
                                color: 	#7a7a7a;
                                background-color: 	#f7f7f7;
                                font-size: large;
                                font-weight: bold;
}
#cambiaDiv { 
    margin: 0px;
    padding: 0px;
    display: inline-flex;
   }
#cambiaDiv div {
                    display: block;
                    position: absolute;
                    padding: 15px;
                    border-radius: 10px 10px 10px 10px; 
                    width: 92%;
                    background-color: 	#bcbcbc;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    margin-bottom: 5px;
   } 
#cambiaDiv div:not(:nth-child(1)) {
    display: none;
   } 
#cambiaDiv div:target {
    display: block; 
   }
   
/*TABLA*/
#tabla {
            background-color: 	#00b6ad;
            width: 95%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 20px;
}
#tabla > table {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border: 1px solid rgb(15, 31, 47);
                    width: 450px;
}
td, th {
        width: 150px;
        border: 1px solid rgb(15, 31, 47);
}
th{
    text-align: center;
}
#tabla table tr:nth-child(odd){
                                background-color: #bcbcbc;
} 
#tabla table tr:nth-child(even){
                                background-color: #7a7a7a;
}   

/*FOOTER*/
footer {
            background-color: 	#3d3935;
}
footer > ul {
    justify-content: center;
}
footer > ul > li {
                    margin-right: 10px;
}

footer > ul > li > i {
    color: 	#00b6ad;
}

/*GRAL TAG*/
a {
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
}
ul {
    list-style: none;
    display: inline-flex;
    padding: 5px;
    margin: 0px;
    width: 100%;
}
